body {
  max-width: 45em;
  font-family: "Times New Roman", Times, serif;
}

h1::before, h2::before {
  content: none;
}

h1, h2 {
  font-family: "Times New Roman", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.ust-kısım {
  display: flex;
  align-items: center;
  padding-bottom: 0.2rem;
}
.name {
  font-size: 36pt;
  /* text-align: left; */
  text-align: center;
  flex: 1;
}

ul {
  list-style-type: disc;
}

hr {
  margin-top: 2rem;
}

.contact {
  justify-content: space-evenly;
  display: flex;
}

/* .pp {
  text-align: right;
  width: 200px;
  padding-top: 1rem;
  border-radius: 2px;
} */

@media (max-width: 600px) {
  .contact {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
  }
  .name {
    font-size: 24pt;
  }
  /* .pp {
    width: 100px;
  } */
}
@media (min-width: 600px) {
  .skillsandinterest {
    display: flex;
    justify-content: space-between;
  }

  .skills {
    flex-basis: 45%;
  }

  .interests {
    flex-basis: 45%;
  }
}
@media print {
  body {
    max-width: 55em;
    background-color: white;
  }
  a, a:visited {
    color: rgb(16, 15, 15);
  }

}
