.pp{
    display: flex;
    justify-content: center;
  }
  .pp-image {
    width: 350px;
    border-radius: 5px;
  }
  .quote{
    padding-top: 2em;
  }
  .quote-author {
    text-align: right;
    font-size: 15pt;
  }
  @media (max-width: 600px) {
    body {
      padding: 12px;
    }
    .pp-image {
    width: 250px;
  }
  .quote{
    padding-top: 2em;
  }
  .quote-author {
    font-size: 12pt;
  } 
  }

li {
padding-bottom:4px;
}