.old-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 20px; /* Adjust the gap between images */
    justify-content: center; /* Center content horizontally */
  }
.posters-image {
    max-width: 100%; /* Ensure images don't exceed container width */
    height: auto; /* Maintain aspect ratio */
  }