body {
  max-width: 55em;
}

#ismail-efes-blog-site {
  font-size: 34pt;
}

#blog-posts,
#meet-efe,
#technical-posts {
  font-size: 26pt;
}

.post-date {
    color: rgb(103, 103, 103);
    font-size: 12pt;
    font-weight: bold;
  }

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 800px) {
  .post-date {
    font-size: 10pt;
  }
  .column {
    width: 100%;
  }
}
